.HashCoreFiles {
  background-color: var(--theme-dark);

  width: 100%;
  flex: 1;
  max-height: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.HashCoreFiles__Actions {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: calc(1rem - 4px);
  padding-right: 0.6rem;
  height: 34px;
  background-color: var(--theme-darkest);
  margin: 0;
  flex-shrink: 0;
}

.HashCoreFiles__Actions__Spacer {
  flex: 1;
}

.HashCoreFiles__Collapse {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: var(--theme-grey);
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.25rem;
  height: 100%;
}

.HashCoreFiles__Collapse .codicon {
  font-size: 12px;
  margin: 0;
}

.HashCoreFiles__Collapse .codicon + .codicon {
  margin-left: -6px;
}

.HashCoreFiles__Collapse:hover,
.HashCoreFiles__Collapse:focus-visible {
  background-color: var(--selected-background-color);
  color: var(--theme-white);
}

.HashCoreFiles ul:not(.HashCoreFiles__Actions) {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  margin: 0;
}

.HashCoreFiles__Files {
  padding-top: 0.4rem !important;

  /* for applying consistent spacing to icons in the File Viewer */
  *:not(.FileNameWithIcon) > .Icon {
    fill: var(--theme-white);
    padding-right: 4px;
  }
}
